h1 {
  color: darkgreen; 
  font-size: 72px; 
  font-weight: bold;
  text-align: center;
}

.block__row {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.block__column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block__column {
  width: 20%;
}

@media (max-width: 768px) {
  .block__column {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .block__column {
    width: 80%;
  }
}